$colors: (
  primary: (
    100: hsl(28, 100%, 84%),
    200: hsl(28, 100%, 73%),
    main: hsl(28, 100%, 69%),
    300: hsl(28, 100%, 53%),
    400: hsl(28, 100%, 33%),
    500: hsl(28, 100%, 13%),
  ),
  secondary: (
    100: hsl(269, 71%, 79%),
    200: hsl(269, 71%, 59%),
    main: hsl(269, 71%, 29%),
    300: hsl(269, 71%, 20%),
    400: hsl(264, 96%, 12%),
  ),
  accent: (
    main: hsl(190, 100%, 78%),
    200: hsl(190, 100%, 58%),
    300: hsl(190, 100%, 38%),
    400: hsl(190, 100%, 28%),
    500: hsl(190, 100%, 18%),
  ),
  accent2: (
    main: hsl(341, 100%, 85%),
    200: hsl(341, 100%, 68%),
    300: hsl(341, 100%, 55%),
    400: hsl(341, 100%, 35%),
    500: hsl(341, 100%, 18%),
  ),
  contrast: (
    100: hsl(0, 0%, 98%),
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 60%),
    400: hsl(0, 0%, 50%),
    500: hsl(0, 0%, 40%),
    600: hsl(0, 0%, 30%),
    700: hsl(0, 0%, 18%),
    750: hsl(0, 0%, 10%),
    800: hsl(0, 0%, 5%),
  ),
  signal-green: (
    100: hsl(90, 94%, 50%),
    200: hsl(90, 94%, 40%),
    300: hsl(90, 94%, 30%),
    400: hsl(90, 94%, 20%),
    500: hsl(90, 94%, 10%),
  ),
  signal-red: (
    100: hsl(0, 60%, 55%),
    200: hsl(0, 60%, 45%),
    300: hsl(0, 60%, 35%),
    400: hsl(0, 60%, 25%),
    500: hsl(0, 60%, 15%),
  ),
);
